body
{ background-color: #222222;
  background: url("/assets/what-the-hex-dark.png");
  font-family: 'Tulpen One', cursive;
  color: #fff;
  // text-shadow: 0 0 5px #25afea;
  padding: 40px;
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #25afea,
    0 0 20px #25afea;
}

p, td
{ font-size: 1.6em; }

td
{ font-weight: bold; }

a, a:active, a:focus, a:hover
{ color: white;
  padding: 0 5px;
text-shadow:
    0 0 5px #fff,
    0 0 10px blue,
    0 0 20px blue;
    0 0 40px blue;
    0 0 80px blue;
  }

em
{ 
  font-style: normal;
  padding: 0 5px;
text-shadow:
    0 0 5px #fff,
    0 0 10px red,
    0 0 20px red;
    0 0 40px red;
    0 0 80px red;
  }

  input
  {
  font-family: 'Tulpen One', cursive;
  font-size: 2em;
  }

  input[type=text] {
    padding: 10px; 
    margin: 40px;
    border:1px solid #fff; 
    -webkit-border-radius: 0px 15px 0px 15px;
    border-radius: 0px 15px 0px 15px;
    background: none;
    color: #fff;
  -moz-box-shadow:
    0 0 5px #fff,
    0 0 10px #25afea,
    0 0 20px #25afea;
  -webkit-box-shadow:
    0 0 5px #fff,
    0 0 10px #25afea,
    0 0 20px #25afea;
  box-shadow:
    0 0 5px #fff,
    0 0 10px #25afea,
    0 0 20px #25afea;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #25afea,
    0 0 20px #25afea;
}

input[type=text]:focus {
  -moz-box-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #25afea;
  -webkit-box-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #25afea;
  box-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #25afea;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #25afea;
}

input[type=submit] {
    padding: 10px; 
    border: none;
    background: none;
    color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px red,
    0 0 20px red;

    cursor:pointer;

    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

#ponnim, #rem-en-kum, #rasenna
{ position: absolute; right: 40px; bottom: 40px; width: 40vw; height: 40vh 
}

#ponnim
{ background: url("/assets/ponnim.png") ;
background-position: bottom right;
background-repeat: no-repeat;
background-size: contain;

}

#rem-en-kum
{ background: url("/assets/rem-en-kum.png") ;
background-position: bottom right;
background-repeat: no-repeat;
background-size: contain;

}

#rasenna
{ background: url("/assets/rasenna.png") ;
background-position: bottom right;
background-repeat: no-repeat;
background-size: contain;

}
