body
{ // background-color: #222222;
  // background: url("/assets/what-the-hex-dark.png");
  // font-family: 'Tulpen One', cursive;
  // color: #fff;
  // text-shadow: 0 0 5px #25afea;
  padding: 40px;
  // color: #fff;
  // text-shadow:
    // 0 0 5px #fff,
    // 0 0 10px #25afea,
    // 0 0 20px #25afea;
}

p, td
{ font-size: 1.6em; }

td
{ font-weight: bold; }

a, a:active, a:focus, a:hover
{ //color: white;
  padding: 0 5px;
// text-shadow:
    // 0 0 5px #fff,
    // 0 0 10px blue,
    // 0 0 20px blue;
    // 0 0 40px blue;
    // 0 0 80px blue;
  }

em
{ 
  font-style: normal;
  padding: 0 5px;
// text-shadow:
    // 0 0 5px #fff,
    // 0 0 10px red,
    // 0 0 20px red;
    // 0 0 40px red;
    // 0 0 80px red;
  }

  input
  {
  // font-family: 'Tulpen One', cursive;
  font-size: 2em;
  }

